{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% include "navbar.html.twig" %}

	<div class="container-fluid p-0">
		<div class="row g-0 overflow-hidden">
			<div class="col-12 col-lg-6 position-relative h-90">
				<div class="d-flex justify-content-center">
					<a href="" class="position-absolute bungee link-light fs-1 pt-5">Conseil</a>
				</div>
				<a class="hover-black" href="{{ path('app_conseil_all') }}">
					<img src={{ asset('media/workout-conseil.jpg') }} class="img-fluid h-100" alt="..."></a>
			</div>

			<div class="col-12 col-lg-6 position-relative h-90">
				<div class="d-flex justify-content-center">
					<a href="{{ path('app_post_all') }}" class="position-absolute bungee link-light fs-1 pt-5">Forum</a>
				</div>
				<a class="hover-black" href="{{ path('app_post_all') }}">
					<img src={{ asset('media/workout-coach.jpg') }} class="img-fluid h-100" alt="...">
				</a>
			</div>
		</div>
	</div>

	{% include "footer.html.twig" %}
{% endblock %}
