{% extends 'base.html.twig' %}

{% block title %}{{ conseil.name }}
{% endblock %}


{% block body %}
	{% include('navbar.html.twig') %}

	<div class="container pt-5">
		<div class="d-flex justify-content-between w-100 text-wrap text-break">
			<div>
				<div class="lato text-success fs-1 w-100">
					{{ conseil.name }}
				</div>
				<div class="lato text-success fs-5 mt-5 w-100">
					{% if vich_uploader_asset(conseil) != NULL %}
						<div class="container w-100 d-flex justify-content-center my-5 ">
							<img class="w-75" src="{{ vich_uploader_asset(conseil) }}">
						</div>
					{% endif %}
					{{ conseil.content }}
				</div>
				<div class="lato text-success fs-5 mt-5">
					{{ conseil.user.pseudonyme }}
				</div>
				<div class="lato text-success fs-5">
					{{ conseil.user.email }}
				</div>
				<div class="lato text-success fs-5">
					{{ conseil.date |date("d/m/Y")}}
				</div>

			</div>
		</div>
	</div>

    {% include "footer.html.twig" %}
{% endblock %}
