{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}


{% block body %}
{% include('navbar.html.twig') %}

<div class="container d-flex justify-content-between pt-5">
    <div class="lato text-success">
        <h1> Mon Compte </h1>

        <div>
            <ul class="list-unstyled">
                <li>Email : {{user.email}}</li>
                <li>Mot de passe : <a href={{ path('app_forgot_password_request') }} class="btn btn-outline-success" type="submit"> Modifier </a> </li>
            </ul>
        </div>

        <div>
        {% if user.coach == 0 %}
            {{ form_start(coachForm) }}
            {{ form_row(coachForm.coach) }}


            <div>
                <button type="submit" class="btn btn-outline-success">Valider</button>
            </div>

            {{ form_end(coachForm) }}
        {% endif %}
        </div>

        <a class="btn btn-success lato link-light fs-5" href="{{ path('app_user_delete', {'id': user.id}) }}"> Supprimer mon compte</a>


        
    </div>

    

    <div>
        <img src={{ asset('media/workout-login.jpg') }} class="img-fluid" alt="...">
    </div>
</div>
{% endblock %}