{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}


{% block body %}
	{% include('navbar.html.twig') %}
	{% include "modal/modal_delete.html.twig" %}

	<div class="container w-75 pt-5">
		<div class="lato text-success pb-5">
			<h1>
				Mon Compte
			</h1>

			<div>
				<ul class="list-unstyled">
					<li>Pseudonyme :
						{{user.pseudonyme}}</li>
					<li>Email :
						{{user.email}}</li>
					<li>Mot de passe :
						<a href={{ path('app_forgot_password_request') }} class="btn btn-outline-success" type="submit">
							Modifier
						</a>
					</li>
					<li>
						{{ form_start(formImg) }}
						{{ form_row(formImg.imageFile) }}

						<div>
							<button type="submit" class="btn btn-outline-success">Valider</button>
						</div>

						{{ form_end(formImg) }}
						<img class="rounded img-fluidmt-3 mt-3" style="min-width: 150px; max-width: 250px" src="{{ vich_uploader_asset(user, 'imageFile')}}" alt="">
					</li>
				</ul>
			</div>

			<div>
				{% if user.coach == 0 %}
					<a class="btn btn-success mb-3" href="{{ path('app_user_becomecoach')}}"> Devenir coach</a>
				{% endif %}
			</div>

			<button class="btn btn-success lato link-light fs-5" data-bs-toggle="modal" data-bs-target="#modalDelete">Supprimer mon compte</button>


		</div>
	</div>


    {% include "footer.html.twig" %}
{% endblock %}
